.btn-accounts {
  padding: 16px 24px 16px 54px !important;

  &__icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
    }

    &--plus::before {
      top: 15px;
      left: 15px;
      background-image: url("../assets/image/plus.svg");
      background-size: 24px 24px;
    }
    &--arrow::before {
      top: 15px;
      left: 15px;
      background-image: url("../assets/image/arrow-left.svg");
      background-size: 24px 24px;
    }
    &--mail::before {
      top: 15px;
      left: 15px;
      background-image: url("../assets/image/mail.svg");
      background-size: 24px 24px;
    }
  }
}

.btn-style {
  background-color: var(--secondary-light);
}
.btn-group:hover,
.btn-group:active,
.btn-group:focus-visible {
  color: var(--primary-main) !important;
  background-color: var(--primary-light) !important;
  border-color: var(--primary-main) !important;
}
